/* universal styles  */
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/* banner styles starts here  */
.banner-container{
    width: 100%;
    height: 100vh;
    background: url('./images/banner/banner3.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 130px;
}
.banner-content{
    width: 525px;
    margin-left: 1025px;
    text-align: right;
}
.banner-title{
    font-size: 65px;
    font-weight: 700px;
    color: #fff;
}
.banner-description{
    width: 525px;
    font-size: 16px;
    font-weight: 400px;
    color: #fff;
    text-align: right;
    margin-top: 25px;
}
.btn-banner{
    padding: 20px 25px;
    border: 0px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
}
/* failures styles starts here  */
.failures-container{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    margin-left: 400px;
}
.failures-content-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.failures-content-description{
    font-weight: 400px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
}
.failures-lists{
    font-weight: 400px;
    line-height: 26px;
    color: #444343;
    margin-top: 16px;
    margin-left: 18px;
}
/* plans styles starts here  */
.plans-container{
    width: 85%;
    margin-left: 150px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.plans-title{
    text-align: center;
    font-size: 35px;
    margin-bottom: 60px;
}
.plans-content{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.plans-content-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.plans-content-box{
    text-align: center;
}
.plans-content-description{
    font-size: 25px;
    color: #737372;
    font-weight: 500px;
    text-align: center;
}
.plans-img{
    width: 93px;
    height: 93px;
}
/* watch styles starts here  */
.watch-container{
    width: 70%;
    height: 300px;
    background-image: linear-gradient(rgba(0,0, 219, 0.9), rgba(0,0, 219, 0.2)), url('images/watch.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    margin-left: 300px;
    margin-bottom: 150px;
}
.watch-title{
    width: 460px;
    padding-top: 60px;
    padding-left: 65px;
    color: #fff;
    font-size: 40px;
    font-weight: 700px;
}
.btn-watch{
    padding: 20px 35px;
    margin-left: 65px;
    font-size: 20px;
    color: #005FAC;
    border: 0px;
    margin-top: 10px;
    border-radius: 6px;
}
/* footer styles starts here  */
footer{
    width: 100%;
    height: 70vh;
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-content{
    width: 500px;
    margin-left: 30px;
}
.footer-content-title{
    font-size: 45px;
    font-weight: 700px;
    color: #f8f8f8;
    margin-bottom: 20px;
}
.footer-content-description{
    font-weight: 400px;
    line-height: 26px;
    margin-bottom: 16px;

}
.footer-content-email{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 15px;
}
.footer-content-phone{
    font-weight: 400px;
    margin-bottom: 15px;
}
.footer-content-icon{
    width: 200px;
}
.footer-btn-title{
    font-size: 25px;
    font-weight: 600px;

}
.footer-btn1{
    padding: 20px 156px 20px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 18px;
    border-radius: 8px;
}
.footer-btn2{
    padding: 20px 35px;
    border-radius: 8px;
    background: #005FAC;
    color: white;
    border: 0px;
}